@import url("resets.css");

body {
        background-image: url('forest-branches-abstract-grey-1.jpg');
        background-size: 640px;
		color: #589c21;
		font-size: 1.5rem;
		line-height: 2rem;
		margin: 0;
	}
	
	p {
		text-align: right;
	}
	
	h1,
	h2 {
		text-align: right;
		font-family: 'Roboto', sans-serif;
		color: #264902;
	}
	
	em {
		color: rgb(6, 52, 6);
	}
	
	.wrapper {
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 10px;
		padding-right: 10px;
	}

    strong{
        font-family: 'Caveat', cursive;
    }

    article {
    border: 2px solid #ccc;
    border-radius: 15px;
    margin: 20px 0;
    padding: 20px;
    background-color: #e5f5d7;
}